
.vs/goudkoorts/v15/.suo
.vs/goudkoorts/v15/.suo
.vs/goudkoorts/v15/.suo
.vs/goudkoorts/v15/Server/sqlite3/storage.ide
.vs/goudkoorts/v15/Server/sqlite3/storage.ide-wal
./bin/debug/*
.vs/goudkoorts/v15/.suo
.vs/goudkoorts/v15/Server/sqlite3/storage.ide
.vs/goudkoorts/v15/Server/sqlite3/storage.ide-wal
